.imgProducto{
	width: 90%;
	vertical-align: middle;
	margin-top: 20px;
	height: 70%;	
}
.imgProducto:hover,.imgProducto:focus{
	border-color:#5e5223;
	background:#e0d8b7;
	border-width:1px;
	-webkit-transform:scale(1.5);
	-moz-transform:scale(1.5);
	-o-transform:scale(1.5);
	-ms-transform:scale(1.5);
	transform:scale(1.5);
}

.producto{	
	width: 30%;
	height: 270px;
	background-color: gray;
	text-align: center;
	margin-left: 10px;
	display: inline-block;
	vertical-align: middle;
	margin: 1em;
}
.precio{
	text-align: right;
	width: 10%
}
.titulo{
	background-color: #6AC5AC;
	font-size: 25px;
}
#productos section{
	border: solid  red 10px;
	height: 300px;	
	background-color: blue;
}
.imgCarrito{

}
.botonCarrito{
	width: 15%;
}

